<SystemConfiguration>
<Component FQDD="BIOS.Setup.1-1">
{% for key,value in bios_config[ansible_system_vendor][ansible_product_name]['bios_attrs'].items() %}
    <Attribute Name="{{ key }}">{{ value }}</Attribute>
{% endfor %}
</Component>
</SystemConfiguration>
